name: HACS Validation

on:
  push:
    paths:
      - 'custom_components/vertiv/**'
      - '.github/workflows/hacs.yml'
  pull_request:
    paths:
      - 'custom_components/vertiv/**'
      - '.github/workflows/hacs.yml'
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  hacs:
    runs-on: ubuntu-latest
    name: HACS
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6
      - name: HACS validation
        uses: hacs/action@22.5.0
        with:
          category: integration
          ignore: brands
  hassfest:
    runs-on: ubuntu-latest
    name: Hassfest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6
      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"
