name: HACS Validation

on:
  push:
    paths:
      - 'custom_components/vertiv/**'
      - '.github/workflows/hacs.yml'
  pull_request:
    paths:
      - 'custom_components/vertiv/**'
      - '.github/workflows/hacs.yml'
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  hacs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: HACS Action
        uses: hacs/action@22.5.0
        with:
          category: integration
  hassfest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Hassfest Validation
        uses: home-assistant/actions/hassfest@v2
