name: Release Drafter

on:
  push:
    branches:
      - master

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Release Drafter
        uses: release-drafter/release-drafter@v6
        with:
          config-name: .github/release-drafter.yml
